footer {
      font-weight: bold;
      color: red;
      position: fixed;
      left: 0;
  bottom: 0;
  width: 100%;
    background-color: #f4f4f4;
    text-align: center;
     
    }
*{
    padding:0px;
    margin:0px;
}
body{
    overflow: hidden;
     background: linear-gradient(90deg,green, white,red);
}
footer{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color:#FAF9F6;
    position:fixed;
    bottom: 0%;
    text-align:center;
    display: block;
    width:100%;
    padding:20px;
}
header{
    background-color:rgb(8, 241, 241);
    color:red;
    text-align: center;
    text-shadow : 2px 2px 4px rgba(0,0,0,0.4);
    padding:20px;
    width:100%;
}
.admin{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:40px;
    text-align: center;
    color:black;
    margin-bottom:40px;

}
img{
    width:300px;
    height:450px;
    border-radius: 10%;
}
.team{
    padding:10px;
}