*{
    padding:0%;
    margin:0%;

}
body{
    background-color:linear-gradient(90deg, #ff0000, #ffffff, #008000);
    overflow-y: hidden;
}
.box{
    position:relative;
    text-align:center;
    top:60px;
    color:rgb(35, 12, 12);
    background-color: radial-gradient(circle,rgba(247, 31, 31, 0.93),rgb(43, 249, 39),rgb(48, 207, 255),rgb(255, 251, 43), rgb(245, 59, 217));
    padding:10px;
    border-radius:5%;
    animation-name: anime;
    animation-duration:0.8s;
}
.box img{
    max-width:100%;
    max-height:300px;
    height:auto;
    border-radius: 2%;
    text-align: center;
    left:250px;
    position: relative;
    left:350px;
}
.box h1{
    text-align: center;
    color:#FDEBD0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
    footer {
      font-weight: bold;
      color: red;
      position: fixed;
      left: 0;
  bottom: 0;
  width: 100%;
    background-color: #f4f4f4;
    text-align: center;
     
    }

.box p{
    font-family: cursive;
}