
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
body {
    font-family: 'Rock Salt', cursive;
    color: #2A2D43;
}

.menu-section {
    padding: 50px;
    text-align: center;
    background-color: aqua;
}

.menu-section h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #2A2D43;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
}

.menu-item {
    background: #e2ba42;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: scaleUp 1s ease-out forwards;
}

.menu-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.menu-item h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #2A2D43;
    margin-bottom: 10px;
}

.menu-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #555;
}

.menu-item .price {
    font-weight: bold;
    color: #941722;
    margin-top: 10px;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    margin: 0 10px;
}



#navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #ff1919;
    width: 100%;
    padding: 20px;
}

.menu-section {
    padding: 50px 20px;
}
    footer {
      font-weight: bold;
      color: red;
      position: fixed;
      left: 0;
  bottom: 0;
  width: 100%;
    background-color: #f4f4f4;
    text-align: center;
     
    }
    .site-title {
  font-family: 'Rock Salt', cursive;
  font-size: 60px;
  color: #f02c2c; 
  text-align: center;
  margin-top: 20px;
  background-color: rgb(70, 88, 249);
  border-radius: 10px  ;
}